@model cbsStudents.Models.Entities.Event

@{
    ViewData["Title"] = "Create Event";
}

<h1>Create Event</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @await Html.PartialAsync("_CreateEditEvent")
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}